.content {
    width: 100%;
    height: 100vh;
    background-image: url("./hinh-nen-hai-huoc_085721252.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
}

.wrapper {
    margin: auto;
}

.heading {
    font-size: 42px;
    color: red;
    font-weight: bold;
    text-align: center;
    position: relative;
    top: -232px;
}

.buttons {
    text-align: center;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.button {
    width: 150px;
    height: 42px;
    border: none;
    border-radius: 5px;
    background-color: cornflowerblue;
    color: white;
    font-size: 16px;
    font-weight: bold;
}

.button.no {
    position: relative;
    left: 14px;
    transition: all 0.2s ease;
}

.button.yes {
    position: relative;
    left: 14px;
    transition: all 0.2s ease;
}

.accept {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    background-color: rgba(0, 0, 0, 0.2);
    display: none;
}

.wrap-acc {
    width: 300px;
    height: 232px;
    margin: auto;
    background-color: darkorange;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
    border-radius: 10px;
    animation: clickZ linear 0.2s;
}

.heading-acc {
    text-align: center;
    font-size: 22px;
    margin: 0 14px;
    font-family: emoji;
    color: darkgreen;
    font-weight: bold;
}

.ok-acc {
    text-decoration: none;
    display: block;
    text-align: center;
    line-height: 32px;
    border: none;
    width: 90px;
    height: 32px;
    font-size: 18px;
    font-weight: bold;
    color: red;
    background-color: beige;
    border-radius: 8px;
}

@keyframes clickZ {
    0% {
        transform: scale(0);
    }

    100% {
        transform: scale(1);
    }
}